<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="app.component.css">
<nav class="debugging-nav">
    <ul id="nav-comp">
        <li>
            <a routerLink="" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li>
            <a routerLink="/form" routerLinkActive="active">Form</a>
        </li>
        <li>
            <a routerLink="/account" routerLinkActive="active">Acount</a>
        </li>
    </ul> 
</nav>
<router-outlet></router-outlet>

