nav{
    position: sticky;
    top: 20px;
    padding: 8px;
    color: white;
    background-color: goldenrod;
}
nav ul{
    display:flex;
    flex-direction: row;
    column-gap: 32px;

    list-style-type: none;
    
}
li a{
    color: white;
    text-decoration: none;
    padding: 4px;
}
li a:hover{
    border-style: solid;
}