
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    
}
header{
    color: white;
    padding: 16px;
   
}
#test{
    color:goldenrod;
}

.example-spacer{
    flex: 1 1 auto;
}
#masked-img{
    mask-image: url(/assets/mountainman.png);
    mask-repeat: no-repeat;
    mask-position: right;
    mask-size: contain;
}
div{
    background-color: aqua;
}
mat-card{
    width: 25%;
    justify-content: center;
    align-items: center;
}