
main{
    font-family:'Montserrat', sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    background-image: url(/assets/mountain-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
.login-island{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 32px;
    border-color: lightgrey;
    border-width: 2px;
    border-style: solid;
    border-radius: 32px;
    width:50%;
    height: 75%;
    background-color: white;
    padding: 32px;
    column-gap: 5%;
    box-shadow: 5px 5px 15px;
}
.login-island h1{
    color: #e0a951;
    font-weight: bold;
    font-size: 32px;
}
#image-container{
    display: flex;
    
    width: 75%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    background-color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/mountain-bg.jpeg);

    border-radius: 32px;
    border-color: lightgrey;
}

#login-form{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}



#requestAccess{
    justify-content: right;
    max-width:fit-content;
    font-size: xx-small;
}
#request-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 32px;
}
#close-btn{
    position: fixed;
    top: 0;
    right: 0;
    margin: 32px;
}