<!DOCTYPE html>
<html lang="en-US">
    <head>
       
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, inital-scale=1.0">
        <title>Employee Login</title>
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="login-island">
                <div id="image-container">
                    <img src="/assets/RisenOneWhite.png" alt="Risen-One-Consulting Logo" width="300" height="300">
                </div>
                <div id="login-form">
                    <h1>Sign In</h1>
                    <div id="usr-component">
                        <label>Username:</label>
                        <input id="login-usr" type="text">
                    </div>
                    <div id="psw-component">
                        <label>Password:</label>
                        <input id="login-psw" type="password">
                        <a id="login-forgot" href="">Forgot your password?</a>
                    </div>
                    <div>
                        <button>Sign In</button>
                        <button>Sign In with Google</button>
                    </div>
                    <div>
                        <a id="login-account" href="">Need an account?</a>
                    </div>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>