<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <div>
        <h1>Certification Approval and Reimbursement Request Form</h1>
    </div> 
    <div>
        <p><strong>Steps to recieve approval for reimbursement for a futer cerificate of training</strong></p><br>
        <p>1. Complete this form BEFORE you take your certification or training.</p>
        <p>2. Reveive approval from a supervisor or leadership.</p>
        <p>3. Submit passing exam certification document and reciept to <strong>hrrisen-one.com</strong></p><br><br>
        <p><strong>Please note, reimbursement is only for passing exams, not for exam attempts.<br>Certificates already completed may not be approved.<br>Please plan ahead and submit form BEFORE certification or training is taken.</strong></p>
    </div>
    <br><br> 
    <div>
        <p style="text-align: left; margin-left: 10px;">View Previous Requests</p>
        <mat-form-field>
            <mat-label>Certificate Name Goes Here</mat-label>
            <mat-select (selectionChange)="updateForms($event.value)">
              <mat-option *ngFor="let previousRequest of previousRequests; trackBy: trackByFn" [value]="previousRequest.items">
                {{previousRequest.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button class="button" (click)="submit()">Add New</button>
    </div>   
    <br><br>    
    <div>
        <mat-form-field >
          <mat-label>Employee Name</mat-label>
          <input type="text" id="username" name="username" matInput>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Name of Certification</mat-label>
            <input type="text" id="certName" name="certName" matInput>
        </mat-form-field>
    </div>
    <br><br>
    <div>
        <mat-checkbox (click)="rocReq()" [checked]="rocRequest" id="rocReq">ROC has reqested I complete this training</mat-checkbox> <br>
        <mat-checkbox (click)="persDev()" [checked]="personalDev" id="persDev">Personal Deveolpment</mat-checkbox>
    </div>
    <div>
        <p style="text-align: left; margin-left: 10px;">Reason for Certification</p>
        <mat-form-field class="longTextAreaBox" >
            <mat-label>Reason for Certification goes here</mat-label>
            <textarea type="any" id="certReason" name="certReason" matInput></textarea>
          </mat-form-field>
    </div>
    <div>
        <p style="text-align: left; margin-left: 10px;">Estimated Time of Completion</p>
        <mat-form-field class="shortTextAreaBox" >
            <mat-label>Estimated Time of Completion goes here</mat-label>
            <textarea type="any" id="certTimeComplete" name="certTimeComplete" matInput></textarea>
          </mat-form-field>
          <mat-form-field class="datePicker">
            <mat-label>Estimated Certification/Training Date</mat-label>
            <input matInput [matDatepicker]="picker1" id="certTrainingDate" name="certTrainingDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
    </div>
    <div>
        <p style="text-align: left; margin-left: 10px;">Certification Expiration</p>
        <mat-form-field class="shortTextAreaBox" >
            <mat-label>Certification Expiration goes here</mat-label>
            <textarea type="any" id="certExpiration" name="certExpiration" matInput></textarea>
        </mat-form-field>
        <mat-form-field class="shortBasicInput">
                <mat-label>Certification Cost</mat-label>
                <input type="any" id="cost" name="cost" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="shortBasicInput">
            <mat-label>Name of Previous Certification/Training</mat-label>
            <input type="any" id="prevCert" name="prevCert" matInput>
        </mat-form-field>
        <mat-form-field class="datePicker">
            <mat-label>Date of Previous Certification/Training</mat-label>
            <input matInput [matDatepicker]="picker2" id="prevCertDate" name="prevCertDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Employee Sign Off Date</mat-label>
            <input matInput [matDatepicker]="picker3" id="employeeSign" name="employeeSign">
            <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Lead Sign Off Date</mat-label>
            <input matInput [matDatepicker]="picker4" id="leadSign" name="leadSign">
            <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Executive Sign Off Date</mat-label>
            <input matInput [matDatepicker]="picker5" id="execSign" name="execSign">
            <mat-datepicker-toggle matIconSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
          </mat-form-field>
    </div>
    <div>
      <button class="button-2" >Export to PDF</button>
      <button class="button-3" >Save</button>
    </div>




</body>
