<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<div>
    <h1>Certification Approval and Reimbursement Request Form</h1>
</div> 
<div>
    <p><strong>Steps to recieve approval for reimbursement for a futer cerificate of training</strong></p><br>
    <p>1. Complete this form BEFORE you take your certification or training.</p>
    <p>2. Reveive approval from a supervisor or leadership.</p>
    <p>3. Submit passing exam certification document and reciept to <strong>hrrisen-one.com</strong></p><br><br>
    <p><strong>Please note, reimbursement is only for passing exams, not for exam attempts.<br>Certificates already completed may not be approved.<br>Please plan ahead and submit form BEFORE certification or training is taken.</strong></p>
</div>

<!--
    Work in progress
<div class="form-group">
    <label for="previousRequests">View Previous Requests</label>
    <select class="form-control" id="previousRequest"
            required
            [(ngModel)]="model.previousRequest" name="previousRequest"
            #previousRequest="ngModel">
      <option *ngFor="let previousRequest of previousRequests" [value]="previousRequest">{{previousRequest}}</option>
    </select>
</div>
-->
