<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <div>
        <h1>Certification Approval and Reimbursement Request Form</h1>
    </div> 
    <div>
        <p><strong>Steps to recieve approval for reimbursement for a futer cerificate of training</strong></p><br>
        <p>1. Complete this form BEFORE you take your certification or training.</p>
        <p>2. Reveive approval from a supervisor or leadership.</p>
        <p>3. Submit passing exam certification document and reciept to <strong>hrrisen-one.com</strong></p><br><br>
        <p><strong>Please note, reimbursement is only for passing exams, not for exam attempts.<br>Certificates already completed may not be approved.<br>Please plan ahead and submit form BEFORE certification or training is taken.</strong></p>
    </div>
    <br><br> 
    <div>
        <p style="text-align: left; margin-left: 10px;">View Previous Requests</p>
        <mat-form-field>
            <mat-label>View Previous Requests</mat-label>
            <mat-select>
              <mat-option Value="Certificate Name Goes Here">Certificate Name Goes Here</mat-option>
              <mat-option Value="Option 1">Option 1</mat-option>
              <mat-option Value="Option 2">Option 2</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="button" onclick="">Test Button</button>
    </div>   
    <br><br>    
    <div>
        <mat-form-field>
          <mat-label>Employee Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Input</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <br><br>
    <div>
        <mat-checkbox>ROC has reqested I complete this training</mat-checkbox> <br>
        <mat-checkbox>Personal Deveolpment</mat-checkbox>
    </div>
    <div>
        <p style="text-align: left; margin-left: 10px;">Reason for Certification</p>
        <mat-form-field>
            <mat-label>Reason for Certification goes here</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
    </div>
    <div>

    </div>

</body>
